@import "skin_variables.lsi";

body {
  font-size: 16px;
  font-family: @FontMain;
  background-color: @clBodyBG;
  color: @clBodyFG;

  * {
    box-sizing: border-box;
    padding: 0px;
  }

}


a {
  color: black;
}


input {
  font-size: inherit;
  font-family: inherit;
}


/* header styles */

div.header {
  width: @globWidth;
  max-width: @globMaxWidth;
  margin: @globMargin;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: @HeaderBackground;

  overflow: auto;
  padding: @paddingHeader;

  h1 {
    font-size: 36px;
    margin: 0px auto 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: @clHeader;
  }

  div {
    text-align: right;
    a {
      font-weight: bold;
      text-align: right;
      display: inline;
      line-height: 1.5em;
    }
  }
}



/* Search form styles */

form#search_form {
  width: @globWidth;
  max-width: @globMaxWidth;
  margin: @globMargin;
  display: flex;
}

.search_line {
  height: 32px;
  margin: 0px 8px 0px 0px;
  padding: 4px 36px 4px 8px;
  border: @borderEdit;
  background-color: @clDarkBG;
  color: @clDarkFG;
  display:block;
  flex-grow: 1;
}


.search_btn {
  display: block;

  border: @borderEdit;
  border-radius: @borderNavRad;

  vertical-align: top;

  background-color: @clButtonBG;
  background-image: url("/[special:skin]_images/search.svg");
  background-position: center;
  background-size: 24px 24px;
  background-repeat: no-repeat;

  width: 32px;
  height: 32px;
  flex-grow: 0;
  flex-shrink: 0;
}

.search_btn:hover {
  background-color: @clButtonActiveBG;
  border: @borderButtonActive;
}

/* Footer styles */

div.footer {
  background-color: @clDarkBG;
  color: @clDarkFG;
  font-size: 90%;
  width: @globWidth;
  max-width: @globMaxWidth;
  margin: 8px auto 0px auto;
  line-height: 1em;
  padding: @paddingFooter;

  p {
    margin: 4px 0px 0px 0px;
  }
  a {
    font-weight: bold;
    color: @clColor1FG;
  }
}

div.attribution {
  width: @globWidth;
  max-width: @globMaxWidth;
  margin: @globMargin;
  padding: 4px 0px;
}


/* tag list styles */

div.tags {
  width: @globWidth;
  max-width: @globMaxWidth;
  margin: @globMargin;
  padding: @paddingTags;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: @clDarkBG;
  font-size: 28px;
  font-weight: normal;

  line-height: 80%;
  border-bottom: @borderEdit;
}

a.taglink {
  padding: @paddingOneTag;
  margin: @marginOneTag;
  color: @clDarkFG;
  display:inline-block;
  max-width: 20%;
  min-width: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  border-radius: @borderRadTags;
  border: @borderTags;
  text-decoration: none;
  text-align: center;
}


a.current_tag {
  background-color: @clCurrentTagBG;
  color: @clCurrentTagFG;
  border: @borderTags;
  border-radius: @borderRadTags;
  text-decoration: none;
}

.tagicon {
  display: inline-block;
  padding: 4px;
  width: 32px;
  height: 32px;
  vertical-align: top;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.current {
  background-image: url("/[special:skin]_images/posts.svg");
}

.not_current {
  background-image: url("/[special:skin]_images/posts_gray.svg");
}

/* messages screen */

div.message_block {
  font-size: 20px;
  width: @msgBoxWidth;
  background: @clArticleBG;
  color: @clArticleFG;
  margin: 8px auto;
  text-align: center;
  padding: 20px;
  clear: both;
}

div.message_block h1 {
    text-align: center;
    font-size: 21px;
    font-variant: small-caps;
    margin: 0px;
}

div.message_block a {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

div.message_block a:hover {
  color: #f06060;
}


div.message {
  white-space: pre-wrap;
  padding: 64px;
  margin: 0px auto;
  text-align: left;
  color: black;
  display: inline-block;
}

.small {
  font-size: 80%;
  font-weight: normal;
}
