@import "skin_variables.lsi";

@toolIconHeight: 20px;

.editbtn {
  display: inline-block;
  min-width: @buttonHeight;
  margin-bottom: 4px;
  color: @clButtonFG;
  text-align: center;

  background-color: @clButtonBG;
  border: (@buttonHeight - @toolIconHeight)/2 solid @clButtonBG;

  border-radius: @borderNavRad;
  cursor: pointer;
  &:hover {
    background-color: @clButtonActiveBG;
    border-color: @clButtonActiveBG;
  }

  img {
    object-fit: cover;
    width: @toolIconHeight;
    height: @toolIconHeight;
    vertical-align: top;
  }
}


.icon_bold      { object-position: - 0 * @toolIconHeight 0; font-weight: bold;  }
.icon_italic    { object-position: - 1 * @toolIconHeight 0; font-style: italic; }
.icon_underline { object-position: - 2 * @toolIconHeight 0; text-decoration: underline; }
.icon_strike    { object-position: - 3 * @toolIconHeight 0; text-decoration: line-through; }
.icon_code      { object-position: - 4 * @toolIconHeight 0; }
.icon_link      { object-position: - 5 * @toolIconHeight 0; }
.icon_picture   { object-position: - 6 * @toolIconHeight 0; }
.icon_quote     { object-position: - 7 * @toolIconHeight 0; }
.icon_blockcode { object-position: - 8 * @toolIconHeight 0; }

.icon_smile     { object-position:  - 9 * @toolIconHeight 0;}
.icon_lol       { object-position: - 10 * @toolIconHeight 0;}
.icon_rofl      { object-position: - 11 * @toolIconHeight 0;}
.icon_wink      { object-position: - 12 * @toolIconHeight 0;}
.icon_tongue    { object-position: - 13 * @toolIconHeight 0;}
.icon_sad       { object-position: - 14 * @toolIconHeight 0;}
.icon_cry       { object-position: - 15 * @toolIconHeight 0;}
.icon_angry     { object-position: - 16 * @toolIconHeight 0;}
