@import "skin_variables.lsi";

div.new_editor {
  position: relative;
  width: 95%;
  max-width: 1280px;
  clear: both;
  margin: 8px auto;

  p{
    color: @clColor1FG;
    font-weight: bold;
    margin: 0px 0px 4px 0px;
  }
}


#editform {
  position: relative;
  padding: 16px;
  margin: 8px 0px 0px 0px;
  background-color: @clFormBG;
}

h1.fakeedit {
  width: 100%;
  border-style: none;
  padding: 4px;
  margin: 8px 0px 8px 0px;

  background-color: @clDisabledBG;
  color: @clDisabledFG;
  font-weight: bold;
  font-size: inherit;
}

textarea.editor {
  display: inline-block;
  width: 100%;
  height: 20em;
  padding: 4px;
  margin-bottom: 8px;
  margin-top: -1px;
  border-style: none;
  outline-style: none;
  overflow: auto;
  resize: vertical;

  font-family: @FontMonospace;
  background-color: @clEditorBG;
  color: @clEditorFG;
  border: @borderEdit;
}

div.panel {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;

  input {
    border-style: none;
    padding: 4px;

    background-color: @clButtonBG;
    color: @clButtonFG;
  }

  input:active, input:focus, input:hover {
    background-color: @clButtonActiveBG;
    color: @clButtonActiveFG;
  }
}





