@import "skin_variables.lsi";

/* Threads list styles */

div.threads_list {
  width: 95%;
  max-width: 1280px;
  margin: auto;
  clear: both;
}

span.small {
  display: block;
  font-size: 80%;
  font-weight: normal;
}

.thread_summary {
  display: flex;
  margin-bottom: 8px;
}

.thread_right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}


div.thread_info {
  position: relative;
  background-color: @clDarkBG;
  color: @clDarkFG;
  padding: 8px 16px 8px 16px;
  width: 200px;
  flex-shrink: 0;

  a.unread {
    display: inline-block;
    margin-right: 8px;

    vertical-align: middle;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
  }

  .unread0 {
    background-image: url("/[special:skin]_images/posts_gray.svg");
  }

  .unread1 {
    background-image: url("/[special:skin]_images/posts.svg");
  }
}

.pinned {
  display: block;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 16px;
  height: 16px;
  margin: 0px !important;
  border: 0px;
}

.pin0 {
  background-image: url("/[special:skin]_images/pinned0.png");
}

.pin1 {
  background-image: url("/[special:skin]_images/pinned.png");
}


div.unread_cnt {
  font-size: 12px;
  margin-bottom: 8px;
  a {
    color: @clDarkFG;
  }
}


div.changed {
  font-size: 80%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-image: url("/[special:skin]_images/edited.svg");
  text-indent: 24px;
}


div.thread_link {
  flex-grow: 1;
  background-color: @clArticleBG;
  color: @clArticleFG;
  padding: 8px;
}

a.thread_link {
  font-size: 16px;
  font-weight: bold;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: @clThreadLink;
}

div.thread_tags {
  background-color: @clColor1FG;
  padding: 8px;
  font-size: 12px;
}

