@import "skin_variables.lsi";

div.edit_groupL {
  display: inline-block;
  width: 50%;
  padding-right: 8px;
}

div.edit_groupR {
  display: inline-block;
  width: 50%;
  padding-left: 8px;
}

div.new_editor label {
  display: block;
  color: @clColor1FG;
  font-weight: bold;
  margin: 8px 0px 4px 0px;
}

input.title, input.tags {
  display: block;
  width: 100%;
  padding: 4px;

  margin-bottom: 8px;
  border: @borderEdit;
  outline-style: none;

  background-color: @clEditorBG;
  color: @clEditorFG;
}
