@import "skin_variables.lsi";

div.edit_groupL {
  display: inline-block;
  width: 50%;
  padding-right: 8px;
}

div.edit_groupR {
  display: inline-block;
  width: 50%;
  padding-left: 8px;
}

input.title {
  display: inline-block;
  width: 100%;
  border-style: none;
  padding: 4px;
  margin-bottom: 8px;

  background-color: @clEditorBG;
  color: @clEditorFG;
}

input.tags {
  display: inline-block;
  width: 100%;

  border-style: none;
  padding: 4px;
  margin-bottom: 8px;

  background-color: @clEditorBG;
  color: @clEditorFG;
}
