@import "skin_variables.lsi";

/* Threads list styles */

div.threads_list {
  width: 95%;
  max-width: 1280px;
  margin: auto;
  clear: both;
}

.thread_summary {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid @clSeparator;

  div {
    margin-right: 16px;
    flex-shrink: 0;
  }

  a.unread {
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
  }

  .unread0 {
    background-image: url(".images/posts_gray.svg");
  }

  .unread1 {
    background-image: url(".images/posts.svg");
  }
}

.pinned {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0px auto;
  background-repeat: no-repeat;
}

.pin0 {
  background-image: url(".images/pinned0.png");
}

.pin1 {
  background-image: url(".images/pinned.png");
}


div.col_unread {
  width: 32px;
}

div.col_center {
  text-align: center;
}

div.unread_cnt {
  font-size: 12px;
  margin: 0px;
}

div.thread_link {
  flex-grow: 1;
  width: 0px;
  background-repeat: no-repeat;
  background-position: center;
}


a.thread_link {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: @clColor1FG;
}

a.ttlink {
  margin: 0px;
  padding: 0px;
}

span.small {
  display: block;
  font-size: 80%;
  font-weight: normal;
  br {
    display: none;
  }

  b {
    margin-right: 4px;
  }
}
