@import "skin_variables.lsi";

/* Threads list styles */

div.threads_list {
  width: @globWidth;
  max-width: @globMaxWidth;
  margin: @globMargin;
  clear: both;
}

span.small {
  display: block;
  font-size: 80%;
  font-weight: normal;
  br { display: none; }
  b { margin-right: 8px; }
}

.thread_summary {
  display: flex;
  margin: 8px 0px;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 2px solid @clSeparator;

  div {
    margin-right: 16px;
    flex-shrink: 0;
  }
}


img.unread {
  color: @clDarkFG;
  display: inline-block;
  vertical-align: middle;
}


.pinned {
  display: block;
  margin-right: 8px;
  font-size: 24px;
}

div.col_unread {
  width: 32px;
}

div.col_center {
  text-align: center;
  flex-shrink: 1;
}

div.unread_cnt {
  font-size: 80%;
  margin: 0px;
  flex-shrink: 1;
}

div.thread_link {
  flex-grow: 1;
  width: 100px;
}

a.thread_link {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: @clThreadLink;
  max-width: 100%;
}

div.thread_tags {
  width: 200px;
  flex-shrink: 1;
  color: transparent;
  font-size: 80%;

  a {
    display: inline-block;
    background-color: @clButtonBG;
    color: @clButtonFG;
    text-decoration: none;
    padding: 2px 4px;
    margin-bottom: 2px;
    border-radius: 8px 0px 0px 8px;
  }

  a:hover {
    background-color: @clButtonActiveBG;
  }
}


.category {
  display: flex;
  align-items: stretch;
  border-top: 2px solid @clSeparator;
  align-items: stretch;
  padding: 4px 0px;

  img {
    flex-shrink: 0;
  }

  a {
    font-size: 20px;
    flex-grow: 1;
    margin: 0px 8px;
    text-decoration: none;
    color: @clColor1FG;
    align-self: center;

    span {
      font-size: 20px;
      font-weight: bold;
      font-variant: small-caps;
    }
  }

  div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 64px;
  }

  div {
    text-align: center;
    width: 100px;
    flex-shrink: 0;
    margin: 4px;
    span {
      font-size: 24px;
      font-weight: bold;
      color: @clColor1FG;
    }
  }
}