@import "skin_variables.lsi";

/* Thread view styles */

div.thread {
  width: @globWidth;
  max-width: @globMaxWidth;
  margin: @globMargin;
}

h1.thread_caption {
  font-size: 20px;
  margin: 16px 0px 0px 0px;
  clear:both;

  a {
    margin-left: 4px;
    display: inline-block;
    img {
      height: 18px;
      font-size: 16px;
    }
  }
}

div.current_version {
  border-left: 8px solid @clColor1FG;
  padding-left: 8px;
}

div.post {
  margin-top: 8px;
  border-top: @borderEdit;
}

div.user_info {
  padding: 8px;

  background-color: @clDarkBG;
  color: @clDarkFG;

  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

div.username {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
}

div.avatar {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-direction: column;
  margin-right: 8px;
}

img.unread {
  display: inline;
  margin-right: 8px;
  vertical-align: middle;
  flex-shrink:0;
}

a.user_name {
  display: inline-block;
  color: @clColor1FG;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  width: 100px;
}

img.avatar {
  width: 64px;
  height: 64px;
  display: block;
  background-color: @clAvatarBG;
  color: @clAvatarFG;
  text-align: center;
  font-size: 32px;
}

div.user_pcnt {
  display:none;
}

div.post_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  padding: 4px;
  background-color: @clPostInfoBG;
  color: @clPostInfoFG;
  font-size: 12px;
}

div.last_edit {
  flex-grow: 1;
}

div.edit_tools {
  display: flex;
  margin-left: 8px;
  a {
    margin-right: 8px;

    display: inline-block;
    vertical-align: middle;
    img {
      object-fit: cover;
      width: 18px;
      height: 18px;
      vertical-align: top;
    }
  }
}


div.post_text {
  padding: 0px;
  background-color: @clArticleBG;
  color: @clArticleFG;
  flex-grow: 1;

  article {
    padding: 16px;
  }
}

