@import "skin_variables.lsi";

a.ban_link {
  background-image: url("/[special:skin]_images/ban.svg");
  background-size: 18px 18px;
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

/* Users online table styles */

div.users_online {
  background-color: @clPostBG;
  color: @clPostFG;
  padding: 8px;
  font-size: 13px;
  overflow: auto;
}


table.users_table {
  border-collapse: collapse;
  border: 2px solid gray;
  width: 100%;

  font-size: 16px;
}

table.users_table th {
  border: 2px solid black;
  padding: 8px;
  max-width: 300px;
  text-align: center;
}

table.users_table td {
  border: 2px solid gray;
  padding: 8px;
  max-width: 400px;
  text-align: left;
  vertical-align: top;

  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-all;
}

table.users_table td:nth-of-type(1) {
  width: 1px;
  white-space: nowrap;
}

table.users_table td:nth-of-type(2) {
  width: 1px;
  white-space: nowrap;
}

