@import "skin_variables.lsi";


.thread_summary {
  display: flex;
  margin: @LineH 0px;
}

.limited {
  background-color: #003000;
}

.pinned {
  border-left: 1ch solid @clThreadPinned !important;
}

.unread {
  border-left: 1ch solid @clThreadUnread !important;
}

.thread_info {
  flex-shrink: 0;
  width: 14ch;
  margin-right: 1ch;
  padding-left: 1ch;
  white-space: pre-wrap;
}

.thread_right {
  flex-grow: 1;
  padding: 0px 1ch;
  overflow: hidden;
  br {
    display:none;
  }
  b {
    font-weight: normal;
    margin-right: 2ch;
  }
}

.thread_header {
  word-break: break-all;
  margin-bottom: @LineH;
}

.thread_link {
  display: inline;
  color: @clThreadLinkFG;
}


.category {
  display: flex;
  align-items: stretch;
  margin: @LineH 0;
  background-color: #404040;
  border-left: 1ch solid #404040;

  a {
    flex-grow: 1;
    margin: @LineH 1ch;
    text-decoration: none;

    span {
      font-weight: bold;
      font-variant: small-caps;
    }
  }

  div {
    text-align: center;
    width: 10ch;
    flex-shrink: 0;
    margin: @LineH 1ch;
    span {
      font-weight: bold;
    }
  }
}


.comma > * {
  display: inline-block;

  &::after {
    content: ', ';
    text-decoration: none;
    margin-right: 1ch;
  }

  &:last-child::after {
    content: ' ';
  }
}


.posters {
  margin: 0;
  & > * {

    &:first-child::before {
      display: inline-block;
      color: @clText;
      margin-right: 1ch;
      font-weight: bold;
      content: 'Started by: ';
    }

    &:first-child::after {
      margin-right: 1ch;
      content: ' ';
    }

    &:nth-child(2)::before {
      display: inline-block;
      color: @clText;
      font-weight: bold;
      margin-right: 1ch;
      content: 'Joined: ';
    }
  }
}

.invited {
  margin: 0;
  & > *:first-child::before {
    display: inline-block;
    color: @clText;
    font-weight: bold;
    margin-right: 1ch;
    content: 'Invited: ';
  }
}


.thread_tags {
  margin-top: @LineH;
  a:first-child::before {
    display: inline-block;
    color: @clText;
    margin-right: 1ch;
    font-weight: bold;
    content: 'Tags:';
  }
}
