body {
  font-size: 16px;
  font-family: Verdana,sans-serif;
  background-color: #d0d0d0;
}

body * {
  box-sizing: border-box;
  padding: 0px;
}

a {
  color: black;
}

input {
  font-size: inherit;
  font-family: inherit;
}

/* header styles */

div.header {
  position: relative;
  width: 95%;
  max-width: 1280px;
  margin: 0px auto 0px auto;
  background-color: #ffda44;
  overflow: auto;
}

div.header h1 {
  float: left;
  font-size: 36px;
  margin: 8px 0px 8px 16px;
}


/* Search form styles */

form#search_form {
  position: absolute;
  display: inline-block;

  bottom: 50%;
  right: 50%;

  transform: translate(50%, 50%);
  -webkit-transform: translate(50%, 50%);
  -moz-transform: translate(50%, 50%);

}

input#search_line {
  height: 32px;
  padding: 4px;
  border: none;
  background-color: #606060;
  color: white;
}


input#search_line:focus {
  background-color: white;
  color: black;
}


input#search_btn  {
  float: right;
  width: 32px;
  height: 32px;

  border-style: none;
  padding: 4px;

  background-color: #f06060;
  background-image: url('/images/search.svg');
  color: white;
}

input#search_btn:hover  {
  background-color: #ff7b81;
}



/* Threads list styles */


div.threads_list {
  width: 95%;
  max-width: 1280px;
  margin: auto;
}


.thread_summary {
  background-color: white;

  position: relative;
  overflow: hidden;
  zoom: 1;
  margin-bottom: 8px;
  clear: both;
  overflow: visible;
}


div.thread_info {
  background-color: #404040;
  color: white;
  text-align: left;

  float: left;
  position: absolute;
  width: 200px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  padding: 8px 8px 0px 8px;
  overflow: visible;
}

div.thread_info img {
  margin-right: 8px;
  vertical-align: middle;
}

div.thread_info img.pinned {
  float: right;
  position: absolute;
  right: 8px;
  top: 8px;
  margin: 0px;
}

div.post_cnt {

}

div.unread_cnt {
  font-size: 12px;
}


div.changed {
  font-size: 80%;
  position: absolute;
  bottom: 8px;
}

div.thread_link {
  background-color: white;
  padding: 32px;
  padding-left: 216px;
  min-height: 100px;
}


a.thread_link {
  font-size: 16px;
  font-weight: bold;
}



/* Thread view styles */


div.thread {
  width: 95%;
  max-width: 1280px;
  margin: auto;
}

h1.thread_caption {
  font-size: 20px;
  margin: 16px 0px 0px 0px;
  clear:both;
}



/* div.thread a {
  margin-top: 8px;
  display: inline-block;
} */

div.post {
  position: relative;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

div.user_info {
  float: left;
  position: absolute;
  width: 200px;
  left: 0px;
  top: 0px;
  bottom: 0px;

  background-color: #404040;
  color: white;
}

div.search_info {
  float: left;
  position: absolute;
  width: 200px;
  left: 0px;
  top: 0px;
  bottom: 0px;

  background-color: #404040;
  color: white;
}

div.post_time {
  padding: 8px;
  text-align: left;
  font-size: 12px;
  background-color: #404040;
}

div.post_link {
  padding: 4px;
  text-align: right;
  font-size: 18px;
}

div.post_sum {
  margin-left: 200px;
  padding: 4px 4px 4px 4px;
  background-color: white;
}

div.post_thread {
  margin-left: 200px;
  padding: 8px;
  background-color: #ffda44;
  font-size: 12px;
  overflow: auto;
}

div.post_thread a {
  font-size: 16px;
  font-weight: bold;
}

img.unread_icon {
  display: block;
  float: left;
  margin: 8px;
}

div.user_name {
  padding: 8px;
  color: #ffda44;
  font-weight: bold;
  background-color: #404040;
}


div.user_pcnt {
  padding: 8px;
  text-align: left;
  font-size: 12px;
  background-color: #404040;
}


div.post_info {
  margin-left: 200px;
  padding: 8px;
  background-color: #ffda44;
  font-size: 12px;
  overflow: auto;
}


div.post_info a {
  margin: 0px;
}

div.post_text {
  margin-left: 200px;
  padding: 16px 8px 32px 8px;
  background-color: white;
}


/* Pages links styles */

div.page_row {
  margin-bottom: 16px;
  margin-top: 16px;
}

a.page_link {
  background-color: #ffda44;
  padding: 4px;
  text-align: center;
  display:inline-block;
  min-width: 32px;
}

span.current_page {
  background-color: #f06060;
  padding: 4px;
  text-align: center;
  display:inline-block;
  min-width: 32px;
  font-weight: bold;
  color: white;
}


/* login page styles */

form.login-block, form.register-block {
    width: 320px;
    padding: 16px;
    background: #ffda44;
    margin: 16px auto 48px auto;
}



form.login-block h1, form.register-block h1 {
    height: 38px;
    text-align: center;
    color: white;
    background-color: #606060;
    font-size: 20px;
    font-variant: small-caps;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 8px;
}

input#username, input#email,
input#password, input#password2 {
    width: 100%;
    height: 38px;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 0 20px 0 50px;
    outline: none;
    border: none;

    background-color: white;
    color: black;
    background-position: 12px -10px;
    background-repeat: no-repeat;
    background-size: 24px 120px;
}

input#username {
    background-image: url('/images/user.png');
}

input#email {
    background-image: url('/images/email.png');
}

input#password, input#password2 {
    background-image: url('/images/pass.png');
}

input#username:focus, input#email:focus,
input#password:focus, input#password2:focus  {
    background-position: 12px -70px;
}

input#submit {
    height: 38px;
    width: 100%;
    background: #ff656c;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-variant: small-caps;
    outline: none;
    cursor: pointer;
    text-align: center;
    padding: 0px;
    display: block;
}

input#submit:hover {
    background: #ff7b81;
}

/* login/logout info on the pages */

div.login_interface {
  float: right;
//  position: absolute;
//  top: 8px;
//  bottom: 8px;
//  right: 16px;
  margin-right: 16px;
  text-align: right;
}

div.login_interface a {
  text-align: right;
  display: inline;
  line-height: 1.5em;
}

span.separator {
  width: 16px;
  display: inline-block;
}

/* Main user interface toolbar */

div.ui {
  width: 100%;
  margin: 16px 0px;
  overflow: auto;
}

a.ui, a.ui:visited {
  display: block;
  float: left;
  padding: 4px 8px;
  margin: 0px 8px 0px 0px;

  background-color: #e05050;
  color: white;
  text-decoration: none;
}

a.ui:hover, a.ui:active {
  background-color: #ff656c;
}

a.uir, a.uir:visited {
  display: block;
  float: right;
  padding: 4px 8px;
  margin: 0px 0px 0px 8px;

  background-color: #e05050;
  color: white;
  text-decoration: none;
}


/* Post editing buttons style */

div.edit_tools {
  float: right;
}

div.edit_tools a {
  margin-right: 8px;
  text-decoration: none;
  outline: none;
}

img.edit_icon {
  width: 18px;
  height: 18px;
}

img.del_icon {
  width: 18px;
  height: 18px;
}

img.quote_icon {
  width: 18px;
  height: 18px;
}


/* messages screen */

div.message_block {
  font-size: 20px;
  width: 640px;
  background: white;
  margin: 16px auto;
  text-align: center;
  padding: 20px;
  border-top: 16px solid #f06060;
  clear: both;
}

div.message_block h1 {
    text-align: center;
    color: #000;
    font-size: 21px;
    font-variant: small-caps;
    margin: 0px;
}

div.message_block a {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

div.message_block a:hover {
  color: #f06060;
}


div.message {
  white-space: pre-wrap;
  padding: 64px;
  margin: 0px auto;
  text-align: left;
  color: black;
  display: inline-block;
}


/* Posting form styles */

div.editor {
  position: fixed;
  right: 2.5%;
  top: 16px;
  width: 640px;
  max-width: 60%;
  margin: 16px;
  opacity: 0.6;

  overflow: auto;
}

div.editor:hover {
  opacity: 1;
}



div.new_editor {
  width: 95%;
  max-width: 1280px;
  clear: both;
  margin: 8px auto;
}


#editform {
  padding: 16px;
  background-color: gray;
}

h1.fakeedit {
  width: 100%;
  border-style: none;
  padding: 4px;
  margin: 8px 0px 8px 0px;

  background-color: #e0e0e0;
  color: #606060;
  font-weight: bold;
  font-size: inherit;
}

div.editor p, div.new_editor p{
  color: white;
  font-weight: bold;
  margin: 0px 0px 4px 0px;
}

input.title {
  display: inline-block;
  width: 100%;
  border-style: none;
  padding: 4px;
  margin-bottom: 8px;

  background-color: white;
}

textarea.editor {
  display: inline-block;
  width: 100%;
  height: 20em;
  padding: 4px;
  margin-bottom: 8px;
  margin-top: -1px;
  border-style: none;
  outline-style: none;
  overflow: auto;
  resize: vertical;

  font-family: "Liberation Mono", "Courier New", monospaced;
  background-color: white;
}

div.panel {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-bottom: 8px;
}

div.panel input {
  border-style: none;
  padding: 4px;

  background-color: #f06060;
  color: white;
}

div.panel input:active, div.panel input:focus, div.panel input:hover {
  background-color: #ff656c;
}

/* sqlite console styles */

textarea.sql_editor {
  display: inline-block;
  width: 100%;
  height: 5em;
  padding: 4px;
  margin-bottom: 8px;
  margin-top: -1px;
  border-style: none;
  outline-style: none;
  overflow: auto;
  resize: vertical;

  font-family: "Liberation Mono", "Courier New", monospaced;
  background-color: white;
}


div.sql_exec {
  width: 95%;
  max-width: 1280px;
  margin: auto;

  background-color: white;
  padding: 8px;
  font-size: 13px;
}

div.sql_exec p {
  margin-bottom: 0px;
}

div.sql_exec pre {
  padding: 4px;
  margin-bottom: 4px;
}

table.sql_rows {
  border-collapse: collapse;
  border: 2px solid gray;
  width: 100%;
}

table.sql_rows th {
  border: 2px solid black;
  padding: 8px;
  max-width: 300px;
  text-align: center;
}

table.sql_rows td {
  border: 2px solid gray;
  padding: 8px;
  max-width: 300px;
  text-align: left;
  vertical-align: top;

  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-all;
}





/* common styles */

p.timestamp {
  background-color: #ffda44;
  width: 95%;
  max-width: 1280px;
  margin: auto;
  margin-top: 16px;
  padding: 4px;
}

p.attribution {
  width: 95%;
  max-width: 1280px;
  margin: auto;
  margin-top: 16px;
  padding: 4px 0px;
  border-top: 4px solid gray;
}








/* minimag formatting styles */

/* Headings */

h1 { font-size: 21px; margin-top: 32px; }
h2 { font-size: 20px; margin-top: 32px; }
h3 { font-size: 19px; margin-top: 32px; }
h4 { font-size: 18px; margin-top: 32px; }
h5 { font-size: 16px; margin-top: 32px; }
h6 { font-size: 16px; margin-top: 32px; }


/* paragraph style */

div.post_text p {
   text-align: justify;
   margin-top: 0.75em;
   margin-bottom: 0.75em;

  word-break: break-all;
//  word-wrap: break-word;	 /* Internet Explorer 5.5+ */
}

div.post_text p.uli {
  display: list-item;
  list-style: disc inside;
}


/* source code inline and blocks */

div.code {
  text-align: left;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  font-weight: 700;
  border-left-style: solid;
  border-left-width: 0.5em;
  border-left-color: #ff6060;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
}

pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  margin: 0px;
  padding: 1em 0em 1em 0em;

  word-break: break-all;
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


code {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

pre>code {
  display: block;
  white-space: pre;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
  font-style: normal;
  overflow: auto;
}



/* Style of the text included image. */

img.ico {
  display: inline-block;
  vertical-align: bottom;
  width: 24px;
  height: 24px;
  overflow: hidden;
}


img.txt {
  border-style: none;
  border-width: 0px;
  margin: 16px auto;
  display: block;
  max-width: 95%;
}

img.txt1 {
  border-style: none;
  border-width: 0px;
  display: block;
  float: left;
  clear: left;
  margin-right: 16px;
  margin-bottom: 16px;
}

img.txt2 {
  border-style: none;
  border-width: 0px;
  display: block;
  float: right;
  clear: right;
  margin-left: 16px;
  margin-bottom: 16px;
}


/* article tables */
table.txt {
   border-right-width: 2px;
   border-bottom-width: 2px;
   border-style: solid;
   border-color: #606060;
   margin: 0.2em;
   background-color: white;
   border-collapse: collapse;
}


/* style of the article table cell */
table.txt td {
   font-size: 1em;
   border-left-width: 2px;
   border-top-width: 2px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-style: solid;
   border-color: #606060;
   padding-left: 0.2em;
   padding-right: 0.2em;
   padding-top: 0.1em;
   padding-bottom: 0.1em;
   margin: 0px;
}



/* block quotes */

div.bq {
  border: 2px solid #808080;

  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 0em 0.7em 0.1em 1em;
  margin:  1em;

  background-color: #f8f8f8;
  clear: both;
}

h1.bq
{
  margin-left: -0.5em;
  margin-top: -1.2em;
  padding: 0.2em 0.3em 0.2em 0.3em;

  border: 2px solid #808080;

  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
  background: white;
  color: #808080;

  font-size: 1em;
  font-weight: normal;

  float: left;
  clear: both;

  max-width: 150px;
  overflow: hidden;
}

div.right div.bq, div.right h1.bq {
  background-color: #303030;
}

