body {
  font-size: 16px;
  font-family: Verdana,sans-serif;
  background-color: #d0d0d0;
}

body * {
/*  box-sizing: border-box; */
  padding: 0px;
/*  border: 1px solid red; */
}

a {
  color: black;
}

/* Threads list styles */


div.threads_list {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}


.thread_summary {
  background-color: white;

  overflow: hidden;
  zoom: 1;
  margin-bottom: 8px;
}


div.thread_info {
  background-color: #404040;
  color: white;
  text-align: center;
  font-weight: bold;
  
  float: left;
  width: 100px;
  height: 100px;
  padding-top: 32px;
  line-height: 32px;
}


div.thread_link {
  background-color: white;
  padding: 32px;
  padding-left: 128px;
  display: hide;
}


a.thread_link {
  font-size: 16px;
  font-weight: bold;
}



/* Thread view styles */


div.thread {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}

h1.thread_caption {
  font-size: 20px;
  margin-top: 16px;
}



div.thread a {
  margin-top: 16px;
  display: inline-block;
}

div.post {
  position: relative;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}


div.user_info {
  float: left;
  position: absolute;
  width: 200px;
  left: 0px;
  top: 0px;
  bottom: 0px;

  background-color: #404040;
  color: white;
}


div.user_name {
  padding: 8px;
  color: #ffff60;
  font-weight: bold;
  background-color: #404040;
}


div.user_pcnt {
  padding: 8px;
  text-align: left;
  font-size: 12px;
  background-color: #404040;
}


div.post_info {
  margin-left: 200px;
  padding: 8px;
  background-color: #f0f060;
  font-size: 12px;
}

div.post_text {
  margin-left: 200px;
  padding: 8px;
  background-color: white;
}

div.post_text p {
}

div.post_text img {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  display: block;
}



/* Pages links styles */

div.page_row {
  margin-bottom: 16px;
  margin-top: 16px;
  clear: both;
}

a.page_link {
  background-color: #f0f060;
  padding: 4px;
  text-align: center;
  display:inline-block;
  min-width: 32px;
}

span.current_page {
  background-color: #f06060;
  padding: 4px;
  text-align: center;
  display:inline-block;
  min-width: 32px;
  font-weight: bold;
  color: white;
}


/* login page styles */

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-top: 16px solid #f06060;
    margin: 96px auto;
}


.register-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-top: 16px solid #f06060;
    margin: 32px auto;
}


.login-block h1, .register-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input, .register-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username, .register-block input#username {
    background-image: url('/images/user.png');
}

.login-block input#email, .register-block input#email {
    background-image: url('/images/email.png');
}

.login-block input#password, .login-block input#password2,
.register-block input#password, .register-block input#password2 {
    background-image: url('/images/pass.png');
}

.login-block input, .register-block input {
    background-color: white;
    background-position: 12px -10px;
    background-repeat: no-repeat;
    background-size: 24px 120px;
}

.login-block input:active, .login-block input:focus,
.register-block input:active, .register-block input:focus  {
    background-color: white;
    background-position: 12px -70px;
    border: 1px solid #ff656c;
}

.login-block input#submit, .register-block input#submit {
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    outline: none; 
    cursor: pointer;
    text-align: center;
    padding: 0px;
}

.login-block input#submit:hover, .register-block input#submit:hover {
    background: #ff7b81;
}

/* login/logout info on the pages */

div.login_interface {
  background-color: #f0f060;
  text-align: right;

  width: 90%;
  max-width: 1280px;
  margin: 16px auto 0px auto;
}

div.login_interface a {
  text-align: right;
  display: inline;
  padding-right: 16px;
  line-height: 2em;
}

span.separator {
  display: hidden;
}


/* Error messages screen */

div.error_block {
  font-size: 20px;
  width: 640px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  border-top: 16px solid #f06060;
}

div.error_block h1 {
    text-align: center;
    color: #000;
    font-size: 21px;
    text-transform: uppercase;
}

div.error_block a {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

div.error_block a:hover {
  color: #f06060;
}


div.error_msg {
  white-space: pre-line;
  padding: 64px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: black;
  display: inline-block;
}


/* common styles */

p.timestamp {
  background-color: #f0f060;
  width: 90%;
  max-width: 1280px;
  margin: auto;
  margin-top: 16px;
  padding: 8px;
}


/* OTHER to be removed */


p {
  border: 0px;
}

h1 {
  font-size: 14px;
  margin: 0px;
}


h1 a {
  border: 0px;
}


