@import "skin_variables.lsi";

/*
table {
  border: 1px solid green;
  td {
    border: 1px solid red;
  }
}
*/

@font-face {
  font-family: 'Noto Sans Symbols2 Regular';
  src: url('/templates/_fonts/NotoSansSymbols2-Regular.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-family: @FontMain;
  font-size: @FontSize;
}

body {
  min-height: 100vh;

  background-color: @clLightGray;
  color: @clBlack;
}


#header {
  background-color: @clYellow;
  padding: 0 @margin;
  max-width: @globMaxWidth;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  h1 {
    margin: 0;
    font-size: 40px;
  }
  td > div {
    padding-right: @margin/2 + @margin/4
  }
}


footer {
  background-color: @clGray;
  color: @clBlack;

  max-width: @globMaxWidth;
  margin: @margin auto;
  padding: @margin/2 @margin;

  line-height: 1rem;

  p {
    margin: @margin/4 0;
  }

  a {
    color: @clRed;
  }
}


.layout {
  max-width: @globMaxWidth;
  margin: 0 auto;
}

#layout-table {
  border-spacing: 0;
  width: 100%;
  margin: @margin 0;
  td {
    vertical-align: top;
  }
}

#content {
  vertical-align: top;
  padding: 0 0 0 @margin;
  width: 85%;
}

table.compact {
  width: auto !important;
  a {
    padding: 0 4px !important;
  }
}


td.spacer {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  overflow: visible;
  * {
    margin: 0;
  }
}

table.toolbar {
  white-space: nowrap;
  border-spacing: 0;
  width: 100%;
  margin: 0;

  tr {
    vertical-align: baseline;
  }

  button {
    background-color: @clDarkGray;
    color: @clWhite;
    border: 1px solid @clDarkGray;
  }

  a {
    display: block;
  }

  input.submit {
    display: inline-block;
  }

  a, input.submit, input.inp-img {
    border: none;
    height: 24px;
    line-height: 24px;
    padding: 0 @margin/2;

    text-decoration: none;
    font-family: @FontMain;
    font-size: @FontSize;

    &::-moz-focus-inner {
      border: 0;
      outline: 0;
    }

    &:focus {
      outline: 1px dotted @clBlack;
      outline-offset: 2px;
    }

    &:focus-within {
      outline: 1px dotted @clBlack;
      outline-offset: 2px;
    }

    &:hover {
      box-shadow: 1px 1px 3px @clMiddleGray;
    }

    &:active {
      box-shadow: -1px -1px 3px @clMiddleGray;
    }

    img {
      margin-top: 4px;
      margin-bottom: 4px;
      vertical-align: top;
    }

    span.ntf {
      color: @clWhite;
      background-color: none;
    }

    &.current {
      background-color: @clRed !important;
      color: @clWhite;
    }
  }

  > tbody > tr > td, > tr > td {
    padding: 0 @margin/4;
    vertical-align: middle;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
}


td.vspace {
  line-height: 0px;
  font-size: 0px;
  img {
    background-color: white;
  }
}

.dark-btns {
  a, input.submit {
    background-color: @clDarkGray;
    color: @clWhite;
  }
}

.light-btns {
  width: auto !important;
  margin: 0 0 @margin 0 !important;
  float: left;
  a, input.submit {
    background-color: @clYellow;
    color: @clBlack;
  }
}


.first {
  margin-bottom: @margin !important;
}

.last {
  margin-top: @margin !important;
}


.page_row {
  margin: 0;
  float: right;
  > a {
    background-color: @clYellow;
    color: @clBlack;
    line-height: 24px;
    min-width: 24px;
    display: inline-block;
    text-align: center;

    &::-moz-focus-inner {
      border: 0;
      outline: 0;
    }

    &:focus {
      outline: 1px dotted @clBlack;
      outline-offset: 2px;
    }

    &:focus-within {
      outline: 1px dotted @clBlack;
      outline-offset: 2px;
    }

    &:hover {
      box-shadow: 1px 1px 3px @clMiddleGray;
      text-decoration: none;
    }

    &:active {
      box-shadow: -1px -1px 3px @clMiddleGray;
    }
  }
  > .current_page {
    background-color: @clRed;
    color: @clWhite;
    font-weight: bold;
    line-height: 24px;
    min-width: 24px;
    display: inline-block;
    text-align: center;
  }
  > .page_hole {
    line-height: 24px;
    min-width: 24px;
    display: inline-block;
    text-align: center;
  }
}


.linkbar {
  overflow: auto;
}


img {
  border: none;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  > img {
    vertical-align: middle;
  }
}

select:-moz-focusring {
  text-shadow: 0 0 0 @clBlack !important;
  color: transparent !important;
}

select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0px 20px 0px 4px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAYAAAAVMmT4AAAALUlEQVQY02NkYGD4z0AkYITSxGhgZETi/CdkKCOa4H88tmMoRtfASIxfsDoJAGBABgQ8metJAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 11px;
  background-color: @clWhite;
  font-size: inherit;
  font-family: inherit;
  height: 24px;
}


.current_tag {
  color: @clRed !important;
  font-weight: bold;
}


form {
  display: inline;
}


input {
  vertical-align: middle;
}

.inp-text {
  background-color: @clWhite;
  padding: 0 @margin;
  border: none;
  width: 100%;
  height: 24px;
}

.inp-img {
  background-color: @clDarkGray;
  color: @clWhite;
  height: 24px;
  width: 24px;
  padding: 0 !important;
}


ul.linelist {
  display: inline;
  padding: 0;
}

.comma > li {
  display: inline;
  padding-right: 0px;
}

.comma > li > *::after {
  content: ', ';
  display: inline-block;
  text-decoration: none;
}

.comma > li:last-child > *::after {
  content: '';
}





// THE TAGLIST

span.ntf {
  font-size: 12px;
  padding: 0 @margin/2;
  font-weight: bold;
  line-height: 12px !important;
}


.taglist {
//  position: sticky;
//  top: 0;
//  max-height: 100vh;
//  overflow: auto;
//  scrollbar-width: thin;

  text-align: justify;
  hyphens: auto;

  background-color: @clWhite;
  color: @clMiddleGray;

  padding: @margin;

  a {
    color: @clMiddleGray;
  }

  img {
    vertical-align: middle;
  }

  span.ntf {
    color: @clRed;
    background-color: @clYellow;
  }

}


a.taglink {
  text-transform: uppercase;
}


.tagsize00 { font-size: 0.40*25px }
.tagsize01 { font-size: 0.40*25px }
.tagsize02 { font-size: 0.40*25px }
.tagsize03 { font-size: 0.40*25px }
.tagsize04 { font-size: 0.40*25px }
.tagsize05 { font-size: 0.47*25px }
.tagsize06 { font-size: 0.54*25px }
.tagsize07 { font-size: 0.59*25px }
.tagsize08 { font-size: 0.64*25px }
.tagsize09 { font-size: 0.69*25px }
.tagsize10 { font-size: 0.73*25px }
.tagsize11 { font-size: 0.76*25px }
.tagsize12 { font-size: 0.79*25px }
.tagsize13 { font-size: 0.82*25px }
.tagsize14 { font-size: 0.84*25px }
.tagsize15 { font-size: 0.86*25px }
.tagsize16 { font-size: 0.88*25px }
.tagsize17 { font-size: 0.90*25px }
.tagsize18 { font-size: 0.91*25px }
.tagsize19 { font-size: 0.92*25px }
.tagsize20 { font-size: 0.94*25px }
.tagsize21 { font-size: 0.94*25px }
.tagsize22 { font-size: 0.95*25px }
.tagsize23 { font-size: 0.96*25px }
.tagsize24 { font-size: 0.97*25px }
.tagsize25 { font-size: 0.97*25px }
.tagsize26 { font-size: 0.98*25px }
.tagsize27 { font-size: 0.98*25px }
.tagsize28 { font-size: 0.99*25px }
.tagsize29 { font-size: 0.99*25px }
.tagsize30 { font-size: 0.99*25px }
.tagsize31 { font-size: 1.00*25px }
.tagsize32 { font-size: 1.00*25px }
