@import "skin_variables.lsi";

/* Thread view styles */

div.thread {
  max-width: @globMaxWidth;
  margin: 0;
}



h1.thread_caption {
  font-size: 20px;
  margin: 0 0 8px 0px;
  clear:both;
  text-align: center;
  overflow-wrap: anywhere;
  hyphens: auto;
  background-color: @clGray;
  color: @clRed;

  .vote {
    float: right;
    font-size: initial;
    display: inline-block;

    span {
      margin: 0px 1ch;
      display: inline-block;
      min-width: 5ch;
      text-align: right;
    }
    .vote_up, .vote_dn {
      cursor: pointer;
      color: @clBlack;
      text-decoration: none;
    }
    .voted {
      color: @clRed;
    }
  }
}


.thread_tags {
  margin: @margin 0;
  a {

    white-space: nowrap;
    color: @clBlack;
  }
}


div.current_version {
  border-right: 4px solid @clRed;
  margin-right: -4px;
}


.post {
  margin: @margin 0;
}


.post-header {
  width: 100%;
  background-color: @clGray;
  color: @clBlack;
  border-collapse: collapse;

  td {
    vertical-align: top;
    background-color: @clGray;
    padding: 0 @margin/2;
    line-height: 22px;
  }

  td.b {
    background-color: @clWhite;
  }

  > * {
    margin: @margin/2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .avatar {
    background-color: @clYellow;
    img {
      width: 48px;
      height: 48px;
      line-height: 40px;
      text-align: center;
      font-size: 24px;
      vertical-align: middle;
    }
  }

  a {
    color: @clRed;
    &.user_name {
      font-family: @FontMonospace;
      font-weight: bold;
      flex-shrink: 0;
      color: @clBlack;
      u {
        min-width: 2ch;
        text-align: center;
        display: inline-block;
        text-decoration: none;                          //underline 1px dotted @clRed;
        border-bottom: 2px dotted @clRed;
      }
    }
  }

}


.post-text {
  margin: 0;
  padding: 0 @margin @margin @margin;

  border: 1px solid @clWhite;
  background-color: @clWhite;
  color: @clBlack;
}



/* The attachments table */

.attachments, .attach_del {
  padding: 0 4*@margin;
  overflow: auto;
  background-color: @clWhite;
  color: @clBlack;

  table {
    margin: 1em 0;
    font-weight: normal;
    clear: both;
    border-collapse: collapse;
    font-size: 0.8rem;

    a {
      font-weight: bold;
      color: @clWhite;
    }

    td {
      background-color: @clDarkGray;
      color: @clWhite;
      padding: 0.2rem 1ch;
      vertical-align: middle;
      word-wrap: anywhere;
    }

    th {
      background-color: @clYellow;
      color: @clBlack;
      text-align: center;
      padding: @margin/4 @margin;
      vertical-align: middle;
      word-wrap: anywhere;
    }

    label, label::before {
      margin: 0 !important;
    }

    .head {
      background-color: @clDarkGray;
      color: @clWhite;
      font-weight: bold;
      padding: @margin/2 @margin;
    }

    .delcheck {
      text-align: center;
    }

    .filename {
      text-align: left;
    }

    .filesize {
      text-align: right;
    }

    .filetime {
      text-align: left;
    }

    .filecnt {
      text-align: right;
      font-weight: bold;
    }

    .checksum {
      text-align: left;
      font-family: @FontMonospace;
    }
  }
}
