@import "skin_variables.lsi";

table.thread-info {
  width: 100%;
  border-spacing: 0;
  img {
    vertical-align: text-bottom;
    text-decoration: none;
  }
  td {
    padding: @margin/2 0;
  }
  td.details {
    white-space: nowrap;
  }
}


.thread-link {
  font-size: 1.2em;
}