@import "skin_variables.lsi";

body {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;

  padding: 4px !important;
  min-height: 0px !important;
  margin: 0px !important;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

div.chat {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

#layout {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
}


header, footer, .global-row, .attribution {
  display: none !important;
}

.btn-bar {
  margin: 4px 0px !important;
  align-items: center;
}

.btn {
  background-color: @clYellow;
}


div.chatflex {
  display: flex;
  padding: 0px;
  overflow: hidden;
  flex-grow: 1;
}


@media (orientation: landscape) {
  div.chatflex {
    flex-direction: row;
  }

  #syslog {
    height: auto;
    flex-direction: column;
  }
}


@media (orientation: portrait) {
  div.chatflex {
    flex-direction: column-reverse;
  }

  #syslog {
    width: auto;
    flex-direction: row;
  }
}


#chatlog {
  background-color: @clWhite;
  color: @clBlack;
  margin: 4px;
  overflow: auto;
  padding: 16px;
  flex-grow: 3;
}

#syslog {
  background-color: @clWhite;
  color: @clBlack;
  margin: 4px;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 4px;
  display: flex;
  align-items: start;
  align-content: start;
  flex-wrap: wrap;
  min-width: 150px;
}

#chat_form {
  display: flex;
  align-items: center;
  margin: 4px;

  input {
    margin: 0px 8px 0px 0px;
  }
}

#chat_user {
  width: 200px;
  margin: 0 4px 0 8px;
  flex-grow: 0;
}

#chat_message {
  flex-grow: 1;
  padding: @margin/2;
  resize: none;
}


.message {
  margin: @margin/2 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: baseline;

  .msg_one_line {
    flex-grow: 1;
  }

  .msg_multi_line {
    white-space: pre-wrap;
    flex-grow: 1;
    font-family: @FontMonospace;
    font-size: @FontSizeMono*0.8;
  }
}

.chatlink {
  color: @clRed;
}

.emo {
  vertical-align: middle;
  font-size: 20px;
  line-height: 20px;
}

.time {
  font-size: 80%;
  margin: 0;
  flex-shrink: 0
}

.hline {
  line-height: 1px;
  text-align: center;
  border-bottom: 1px solid @clGray;
}

.date {
  font-size: 80%;
  padding: 0px 8px;
  background-color: @clWhite;
  color: @clGray;
}


.user {
  color: @clRed;
  margin: 0 8px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  flex-shrink: 0;
}

.fake_user {
  color: @clViolet;
}

.gray_user {
  opacity: 0.5;
}
