@import "skin_variables.lsi";

a.ban_link:before {
  content: '🔨';
}

a.online {
  font-weight: bold;
  background-color: @clDarkGray;
  color: @clWhite !important;
  vertical-align: middle;
  padding: 1px 4px;
}

/* Users online table styles */

div.users_online {
  width: @globWidth;
  max-width: @globMaxWidth;
  margin: @globMargin;

  background-color: @clWhite;
  color: @clBlack;
  padding: @margin;

  a {
    color: @clRed;
  }
}


table.users_table {
  border-collapse: collapse;
  border: 1px solid @clGray;
  width: 100%;
}

table.users_table th {
  border: 1px solid @clGray;
  padding: @margin/2 @margin;
  max-width: 300px;
  text-align: center;
}

table.users_table td {
  border: 1px solid @clGray;
  padding: @margin/2 @margin;
  max-width: 400px;
  text-align: left;
  vertical-align: middle;

  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-all;
}


